.home_span_gradient {
  /* background: #f12711;
  background: -webkit-linear-gradient(to left, #f5af19, #f12711);
  background: linear-gradient(to left, #f5af19, #f12711);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear; */
  font-size: 4vw;
  background: #8a2387;
  background: -webkit-linear-gradient(to right, #f27121, #e94057, #8a2387);
  background: linear-gradient(to right, #f27121, #e94057, #8a2387);
  -webkit-background-clip: text;
  color: transparent;
}

.home__navbar__brand {
  font-size: 35px;
  padding-top: 10px;
  padding-left: 30px;
  font-family: "Poppins";
}

.home__navbar__brand__logo {
  height: 50px;
  width: 50px;
}

.home__navbar__icons {
  color: black;
  padding: 5px;
}

.home_h1_text {
  font-size: 40px;
  font-weight: 700;
  font-family: "Poppins";
  line-height: 1.5;
}

.home_h2_text {
  font-size: 35px;
  font-family: "Poppins";
}

.home_h2_last_text {
  font-size: 35px;
  font-weight: 300;
  font-family: "Poppins";
}

.home_button_col {
  display: flex;
  justify-content: center;
  margin-left: 0px !important;
}

.home_button {
  font-size: 20px;
  padding: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .home__navbar__brand {
    font-size: 20px;
  }

  .home__navbar__brand__logo {
    height: 25px;
    width: 25px;
  }

  .home__navbar__icons {
    font-size: 20px;
    padding: 0px;
  }

  .home_button_col {
    margin-left: 10px;
  }

  .home_button {
    font-size: 15px;
    padding: auto;
    margin-left: 5px;
  }

  .home_h1_text {
    font-size: 20px;
  }

  .home_h2_text {
    font-size: 20px;
  }

  .home_h2_last_text {
    font-size: 25px;
    font-weight: 300;
  }
}
