.home_span_gradient {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #f5af19,
    #f12711
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #f5af19,
    #f12711
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home__navbar__brand {
  font-size: 2.3rem;
  padding-top: 10px;
  padding-left: 30px;
  font-family: "Poppins";
}

.home__navbar__brand__logo {
  height: 50px;
  width: 50px;
}

.home__navbar__logo{
  color: "black";
  padding : "5px"
}

.body_text{
  color: "red";
}

@media only screen and (max-width: 768px) {
  .home__navbar__brand {
    font-size: 1rem;
  }

  .home__navbar__brand__logo {
    height: 25px;
    width: 25px;
  }

  .home__navbar__logo{
    color: "black";
    padding : "5px"
  }

  .body_text{
    fontSize: "0.5rem";
    fontWeight: "600";
    color: "red";
    lineHeight: "75px"
  }
}
